@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Poppins", sans-serif;
  background: #020617;
}